# openai==1.42.0
# python-dotenv==1.0.1
# PyPDF==4.3.0
# langchain==0.2.14
# langchain-community == 0.2.12
# sentence-transformers==3.0.1
# chromadb==0.5.3
# langchain_chroma==0.1.2
# langchain_openai==0.1.16
# beautifulsoup4==4.12.3
# gradio==4.41.0
# langchain-huggingface==0.0.3
absl-py==1.4.0
beautifulsoup4==4.12.3
charset-normalizer==3.3.2
chromadb==0.5.3
fastapi==0.112.1
gradio==4.42.0
halo==0.0.31
huggingface-hub==0.23.5
langchain==0.2.14
langchain-chroma==0.1.3
langchain-community==0.2.12
langchain-core==0.2.34
langchain-openai==0.1.22
langchain-text-splitters==0.2.2
openai==1.42.0
pydantic==2.8.2
pydantic_core==2.20.1
pypdf==4.3.1
requests==2.32.3
sentence-transformers==3.0.1
starlette==0.38.2
urllib3==2.0.7
uvicorn==0.30.6
